{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    {% for marketer in marketers %}
        <div class="card">
            <div class="card-header">
                {{ marketer.typeMarketer.name }}
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Responsable : {{ marketer.name }}</p>
                    <footer class="blockquote-footer">nombre d'annonce poster : <cite title="Source Title">{{ marketer.ads.count }}</cite></footer>
                    <footer class="blockquote-footer">nombre d'annonce valider : <cite title="Source Title">{{ marketer.ads.count }} <span class="bg-danger">mettre en place la fonction</span> </cite></footer>
{#                pour mettre en place le compte des annonces valider crée un boolean dans ads annonce valider et faire la fonction dans marketer qui check le nb de bool dans ads et le retourner ici#}
                </blockquote>
            </div>
        </div>
    {% endfor %}



    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/toutouYouToo/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/toutouYouToo/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
