{% extends 'base.html.twig' %}

{#
{% block title %}Hello AdoptingController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/HB/Desktop/symfony/toutouyoutoo/src/Controller/AdoptingController.php'|file_link(0) }}">src/Controller/AdoptingController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/HB/Desktop/symfony/toutouyoutoo/templates/adopting/index.html.twig'|file_link(0) }}">templates/adopting/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
#}
{% block body %}
<div class="d-flex justify-content-center mt-5">
<div  class="col-6">


    {{ form_start(form) }}

        {{ form_row(form.lastName) }}

        {{ form_row(form.firstName) }}

        {{ form_row(form.email) }}

        {{ form_row(form.password) }}

        {{ form_row(form.city) }}

        {% if form.submit is defined %}
            {{ form_row(form.submit) }}
        {% endif %}

    {{ form_end(form) }}
</div></div>
{% endblock %}



