{#
{% extends 'base.html.twig' %}

{% block title %}Hello RaceController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/HB/Desktop/symfony/toutouyoutoo/src/Controller/RaceController.php'|file_link(0) }}">src/Controller/RaceController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/HB/Desktop/symfony/toutouyoutoo/templates/race/index.html.twig'|file_link(0) }}">templates/race/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
#}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="d-flex justify-content-center mt-5">
        <div  class="col-6">
            {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}

            {{ form_row(form.name) }}

            {% if form.submit is defined %}
                {{ form_row(form.submit) }}
            {% endif %}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}