{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="d-flex justify-content-center mt-5">{{ race.id ? 'Edition' : 'Ajouter' }} une Race</h2>
    <div class="d-flex justify-content-center mt-5">
        <div  class="col-6">
            {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}

            {{ form_row(form.name) }}

            {% if form.submit is defined %}
                {{ form_row(form.submit) }}
            {% endif %}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}